.headerContainer{
  z-index: 1;
  position: sticky; 
  top: 0;
}

.sectionStart{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0 15px;
  text-align: center;
  height: 100vh;
}

.sectionStart p{
  font-size: large;
}

.arrowDownContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.views{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  padding-top: 150px;
}


.footer{
  display: grid;
  height: auto;
  margin-top: 15rem;
}

@media (max-height: 700px){
  .footer{
    display: grid;
    height: auto;
    margin-top: 30rem;
  }
}

