.boxContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 10%);
}

.dataBox{
    margin: 50px 0 12px 0;
    height: 400px;
    width: inherit;
    border: 2px #e64325 solid;
    border-radius: 10px;
}

.boxContainer section {
    width: inherit;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.disclaimer{
    font-weight: normal;
    color: rgb(199, 201, 201);
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
.bold{
    font-size: large;
}