.footerContainer{
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    border-top: 1px solid #ADB;
}

.footerContainer a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.coffee{
    height: 35px;
    width: 35px;
    margin-left: 25px;
    grid-row: 1/2;
}

.footerContainer p{
    grid-row: 1/2;
    margin-right: 25px;
    justify-self: end;
}